* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #202124;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.navbar {
  margin-right: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: center;
}

.hero-section {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.upper-section {
  margin-top: 10px;
}

.google-logo {
  width: 300px;
  height: 92;
  object-fit: contain;
}

.images-text-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.images-text {
  position: absolute;
  margin-left: 230px;
  margin-top: 90px;
  color: #4487f6;
  font-size: 1.1rem;
}

.center-section {
  background: #202124;
  border: 1px solid grey;
  border-radius: 50px;
  width: 80%;
  max-width: 700px;
}

.center-wrapper {
  display: flex;
  align-items: center;
}

.center-section:hover {
  background: #303134;
}

.search-icon {
  width: 20px;
  margin: 12px;
}

.input-search {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  height: 25px;
  width: 470px;
  font-size: 1.2rem;
}

.voice-icon {
  width: 20px;
  margin-left: 15px;
}

.google-lens-icon {
  width: 20px;
  margin-left: 20px;
}
